<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    <add id="ChetuTest_WorldClassSoftware::things" resource="ChetuTest_WorldClassSoftware::things" title="WorldClassSoftware things" action="chetutest_worldclasssoftware_things/index/index" module="ChetuTest_WorldClassSoftware" sortOrder="10"/><add id="ChetuTest_WorldClassSoftware::things_list" resource="ChetuTest_WorldClassSoftware::things" title="Thing Objects" action="chetutest_worldclasssoftware_things/index/index" module="ChetuTest_WorldClassSoftware" sortOrder="10" parent="ChetuTest_WorldClassSoftware::things" dependsOnModule="ChetuTest_WorldClassSoftware"/></menu>
</config>
